@import "@fontsource/poppins"; 
@import "@fontsource/inter"; 
@import "@fontsource/bebas-neue";


@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    @apply font-poppins overflow-x-hidden;
}
.nav-link {
    @apply text-black hover:underline;
  }

  .navbar{
    @apply ml-[12rem] mt-[1.5rem];
  }
  .nav-list {
    @apply flex gap-[42px];
  }

  .bg-conic-gradient {
  background: conic-gradient(from 0deg, #465803, #4b5f03, #113802, #01312b, #26aba4, rgb(2, 31, 51));
}

  @keyframes spinBlob {
  0% {
    transform: rotate(0deg) scale(2);
  }
  100% {
    transform: rotate(1turn) scale(2);
  }
}

@layer utilities {
  .animate-spinBlob {
    animation: spinBlob 8s linear infinite;
  }
}

  .paragrafo-T{
    @apply w-[48rem] ml-[19rem] text-base mb-5 font-inter text-[#AEABAB]
  }

  .barraPesquisa{
    @apply border border-black w-[13rem] h-[3rem] rounded-[2.5rem] placeholder:pl-[0.5rem]
     placeholder:text-black/70 ml-[5rem] mt-[0.8rem] pl-[1rem]
  }

  .info{
    @apply  border border-black/70 p-2 rounded-[22px] text-black/70 mt-[14rem] text-center
  }

  .s-title{
    @apply font-medium text-[2rem]
  }

  .botoes{
    @apply mt-8 w-[12.5rem] bg-[#545CF0] h-11 text-white rounded-[10px] hover:bg-[#4c54e6]
  }

  .span{
    @apply text-[#0500B6] text-[1.70rem] 
  }

  .card{
    @apply w-[18.75rem] h-[15.875rem] border border-[0.075rem] border-[#F3E96D]/50 rounded-[1rem] mx-auto
  }

  .title-card{
    @apply font-bold text-lg mt-[3.8rem] mb-[1.25rem] text-center
  }

  .paragraph{
    @apply text-[#000000]/70
  }

  .icon{
    @apply bg-[#F3E96D] p-3  absolute rounded-[0.6rem]
  }

  .btn{
    @apply w-[27.5rem] h-[3.4rem] rounded-lg bg-[#8AAC11] text-white cursor-pointer transition duration-300 hover:bg-[#96b426] 
  }

  .input{
    @apply placeholder:text-black/60   pl-11 mt-[1.625rem]  w-[27.5rem] h-[3.70rem] border border-[#AFAFAF] outline-none focus:border-[#117D77] rounded-lg m-0
  }